In [3]:
import torch
from torch_geometric.data import Data
import pandas as pd
import os

In [4]:
df = pd.read_excel('./data/DT_File_MAP.xlsx')
df

,Subject,PTID,VISCODE,LABEL,AGE,GENDER,EDUCATION,Node 1,Node 2,Node 3,...,Node 139,Node 140,Node 141,Node 142,Node 143,Node 144,Node 145,Node 146,Node 147,Node 148
0,S177586,005_S_4910,3,AD,81.4,Female,15,1.959,2.047,2.108,...,1.847,2.070,1.573,1.998,2.193,1.976,1.733,1.574,1.838,1.457
1,S185876,005_S_4910,6,AD,81.4,Female,15,1.891,2.048,1.783,...,1.649,2.271,1.594,1.793,2.240,2.562,1.647,1.642,1.837,1.541
2,S177601,005_S_5038,0,AD,81.5,Male,18,2.025,2.048,2.507,...,1.878,2.044,1.886,2.367,2.156,2.163,2.215,2.112,2.066,1.830
3,S184500,005_S_5038,3,AD,81.5,Male,18,2.016,1.964,2.572,...,1.859,2.042,1.784,2.200,2.004,1.904,2.170,1.681,1.929,1.637
4,S191604,005_S_5038,6,AD,81.5,Male,18,2.004,1.907,2.411,...,1.764,2.077,1.768,2.229,2.049,1.900,2.224,2.103,2.014,1.788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,S155271,098_S_4506,3,CN,71.5,Male,19,2.140,2.143,2.061,...,1.846,2.541,1.814,2.181,2.360,1.885,2.007,2.226,2.202,2.314
496,S167381,098_S_4506,6,CN,71.5,Male,19,2.145,2.182,2.005,...,1.831,2.606,1.873,2.239,2.363,2.511,1.992,2.298,2.181,2.171
497,S197407,098_S_4506,12,CN,71.5,Male,19,1.990,2.174,2.038,...,1.781,2.498,1.771,2.177,2.094,2.399,1.995,2.333,2.185,2.097
498,S447003,098_S_4506,24,CN,71.5,Male,19,2.134,2.171,2.012,...,1.820,2.558,1.769,2.204,2.140,2.405,2.056,2.368,2.165,1.959
499,S206831,129_S_4371,24,CN,67.7,Male,18,2.306,2.337,1.972,...,1.895,2.554,1.691,2.102,1.895,2.416,1.970,1.954,2.020,1.987

In [5]:
df_ts = pd.read_csv('./data/[UNC]ADNI-network/dataTS.csv')
df_ts

,subject,PTID,EXAMDATE.x,VISCODE,DX_bl,AGE,AGE2,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,CDRSB,MMSE
0,S156236,003_S_2374,5/16/2012,m12,EMCI,81.3,7.033333,Female,18,Not Hisp/Latino,White,Never married,0.5,29.0
1,S177586,005_S_4910,12/13/2012,m03,AD,81.4,6.458333,Female,15,Not Hisp/Latino,White,Married,NaN,NaN
2,S185876,005_S_4910,4/3/2013,m06,AD,81.4,6.152778,Female,15,Not Hisp/Latino,White,Married,10.0,19.0
3,S209945,005_S_5038,1/9/2014,m12,AD,81.5,5.386111,Male,18,Not Hisp/Latino,White,Married,8.0,24.0
4,S177601,005_S_5038,12/13/2012,bl,AD,81.5,6.458333,Male,18,Not Hisp/Latino,White,Married,5.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,S447003,098_S_4506,3/14/2014,m24,CN,71.5,5.205556,Male,19,Not Hisp/Latino,White,Married,3.0,29.0
502,S155271,098_S_4506,6/22/2012,m03,CN,71.5,6.933333,Male,19,Not Hisp/Latino,White,Married,NaN,NaN
503,S197407,098_S_4506,8/2/2013,m12,CN,71.5,5.822222,Male,19,Not Hisp/Latino,White,Married,3.0,29.0
504,S167381,098_S_4506,9/12/2012,m06,CN,71.5,6.711111,Male,19,Not Hisp/Latino,White,Married,0.5,30.0
505,S206831,129_S_4371,11/26/2013,m24,CN,67.7,5.505556,Male,18,Not Hisp/Latino,White,Married,0.0,29.0

In [3]:
df[df.index==0]["LABEL"].item()

'AD'

In [62]:
df[["VISCODE", "LABEL", "AGE", "GENDER", "EDUCATION"]].groupby(["LABEL"]).agg(["count", "mean"])

      VISCODE              AGE            EDUCATION
        count       mean count       mean     count       mean
LABEL
AD         76   6.157895    76  76.103947        76  15.763158
CN        109  14.642202   109  73.844954       109  16.559633
EMCI      162  16.185185   162  71.871605       162  16.283951
LMCI       94  10.531915    94  72.577660        94  15.829787
SMC        59   9.000000    59  73.559322        59  17.101695

In [10]:
df_m = df[["Subject", "VISCODE"]].merge(df_ts, how = 'inner', left_on="Subject", right_on = "subject")

In [11]:
df_m

,Subject,VISCODE_x,subject,PTID,EXAMDATE.x,VISCODE_y,DX_bl,AGE,AGE2,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,CDRSB,MMSE
0,S177586,3,S177586,005_S_4910,12/13/2012,m03,AD,81.4,6.458333,Female,15,Not Hisp/Latino,White,Married,NaN,NaN
1,S185876,6,S185876,005_S_4910,4/3/2013,m06,AD,81.4,6.152778,Female,15,Not Hisp/Latino,White,Married,10.0,19.0
2,S177601,0,S177601,005_S_5038,12/13/2012,bl,AD,81.5,6.458333,Male,18,Not Hisp/Latino,White,Married,5.0,25.0
3,S184500,3,S184500,005_S_5038,3/14/2013,m03,AD,81.5,6.205556,Male,18,Not Hisp/Latino,White,Married,NaN,NaN
4,S191604,6,S191604,005_S_5038,6/5/2013,m06,AD,81.5,5.980556,Male,18,Not Hisp/Latino,White,Married,9.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,S155271,3,S155271,098_S_4506,6/22/2012,m03,CN,71.5,6.933333,Male,19,Not Hisp/Latino,White,Married,NaN,NaN
496,S167381,6,S167381,098_S_4506,9/12/2012,m06,CN,71.5,6.711111,Male,19,Not Hisp/Latino,White,Married,0.5,30.0
497,S197407,12,S197407,098_S_4506,8/2/2013,m12,CN,71.5,5.822222,Male,19,Not Hisp/Latino,White,Married,3.0,29.0
498,S447003,24,S447003,098_S_4506,3/14/2014,m24,CN,71.5,5.205556,Male,19,Not Hisp/Latino,White,Married,3.0,29.0
499,S206831,24,S206831,129_S_4371,11/26/2013,m24,CN,67.7,5.505556,Male,18,Not Hisp/Latino,White,Married,0.0,29.0

In [14]:
df_m['date']= pd.to_datetime(df_m['EXAMDATE.x'],format='%m/%d/%Y')
df_m

,Subject,VISCODE_x,subject,PTID,EXAMDATE.x,VISCODE_y,DX_bl,AGE,AGE2,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,CDRSB,MMSE,date
0,S177586,3,S177586,005_S_4910,12/13/2012,m03,AD,81.4,6.458333,Female,15,Not Hisp/Latino,White,Married,NaN,NaN,2012-12-13
1,S185876,6,S185876,005_S_4910,4/3/2013,m06,AD,81.4,6.152778,Female,15,Not Hisp/Latino,White,Married,10.0,19.0,2013-04-03
2,S177601,0,S177601,005_S_5038,12/13/2012,bl,AD,81.5,6.458333,Male,18,Not Hisp/Latino,White,Married,5.0,25.0,2012-12-13
3,S184500,3,S184500,005_S_5038,3/14/2013,m03,AD,81.5,6.205556,Male,18,Not Hisp/Latino,White,Married,NaN,NaN,2013-03-14
4,S191604,6,S191604,005_S_5038,6/5/2013,m06,AD,81.5,5.980556,Male,18,Not Hisp/Latino,White,Married,9.0,21.0,2013-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,S155271,3,S155271,098_S_4506,6/22/2012,m03,CN,71.5,6.933333,Male,19,Not Hisp/Latino,White,Married,NaN,NaN,2012-06-22
496,S167381,6,S167381,098_S_4506,9/12/2012,m06,CN,71.5,6.711111,Male,19,Not Hisp/Latino,White,Married,0.5,30.0,2012-09-12
497,S197407,12,S197407,098_S_4506,8/2/2013,m12,CN,71.5,5.822222,Male,19,Not Hisp/Latino,White,Married,3.0,29.0,2013-08-02
498,S447003,24,S447003,098_S_4506,3/14/2014,m24,CN,71.5,5.205556,Male,19,Not Hisp/Latino,White,Married,3.0,29.0,2014-03-14
499,S206831,24,S206831,129_S_4371,11/26/2013,m24,CN,67.7,5.505556,Male,18,Not Hisp/Latino,White,Married,0.0,29.0,2013-11-26

In [18]:
df_m.sort_values(["PTID","date"])[]

,Subject,VISCODE_x,subject,PTID,EXAMDATE.x,VISCODE_y,DX_bl,AGE,AGE2,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,CDRSB,MMSE,date
0,S177586,3,S177586,005_S_4910,12/13/2012,m03,AD,81.4,6.458333,Female,15,Not Hisp/Latino,White,Married,NaN,NaN,2012-12-13
1,S185876,6,S185876,005_S_4910,4/3/2013,m06,AD,81.4,6.152778,Female,15,Not Hisp/Latino,White,Married,10.0,19.0,2013-04-03
2,S177601,0,S177601,005_S_5038,12/13/2012,bl,AD,81.5,6.458333,Male,18,Not Hisp/Latino,White,Married,5.0,25.0,2012-12-13
3,S184500,3,S184500,005_S_5038,3/14/2013,m03,AD,81.5,6.205556,Male,18,Not Hisp/Latino,White,Married,NaN,NaN,2013-03-14
4,S191604,6,S191604,005_S_5038,6/5/2013,m06,AD,81.5,5.980556,Male,18,Not Hisp/Latino,White,Married,9.0,21.0,2013-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,S155271,3,S155271,098_S_4506,6/22/2012,m03,CN,71.5,6.933333,Male,19,Not Hisp/Latino,White,Married,NaN,NaN,2012-06-22
496,S167381,6,S167381,098_S_4506,9/12/2012,m06,CN,71.5,6.711111,Male,19,Not Hisp/Latino,White,Married,0.5,30.0,2012-09-12
497,S197407,12,S197407,098_S_4506,8/2/2013,m12,CN,71.5,5.822222,Male,19,Not Hisp/Latino,White,Married,3.0,29.0,2013-08-02
498,S447003,24,S447003,098_S_4506,3/14/2014,m24,CN,71.5,5.205556,Male,19,Not Hisp/Latino,White,Married,3.0,29.0,2014-03-14
499,S206831,24,S206831,129_S_4371,11/26/2013,m24,CN,67.7,5.505556,Male,18,Not Hisp/Latino,White,Married,0.0,29.0,2013-11-26

In [73]:
labels = {}
#labels['CN'] = 0
#labels['EMCI'] = 1
#labels['LMCI'] = 2
#labels['AD'] = 3
labels['CN'] = 0
labels['AD'] = 1

In [74]:
df.shape[0]

500

In [75]:
filepath_r = os.path.join(os.path.join(".","sparsifiaction"),"data")
filepath_r = "./sparsification/data"

In [76]:
torch.eye(148)

tensor([[1., 0., 0.,  ..., 0., 0., 0.],
        [0., 1., 0.,  ..., 0., 0., 0.],
        [0., 0., 1.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 1., 0., 0.],
        [0., 0., 0.,  ..., 0., 1., 0.],
        [0., 0., 0.,  ..., 0., 0., 1.]])

In [78]:
datalist = []
for i in range(df.shape[0]):
    print(df[df.index==i]["LABEL"].item())
    label = df[df.index==i]["LABEL"].item()
    if(label == 'SMC' or label == 'EMCI' or label == 'LMCI'):
        continue
    y = labels[label]
    filename = os.path.join(filepath_r, "%s_fdt_network_matrix_df.csv"%df[df.index==i]["Subject"].item())
    #print(filename)
    
    edge_table = pd.read_csv(filename, sep = "\t")
    edge_table = edge_table[["src", "trg", "nij"]]
    #print(edge_table)
    edge_index = torch.tensor(edge_table[["src", "trg"]].values).transpose(0,1)
    edge_attr = torch.tensor(edge_table[["nij"]].values, dtype=torch.float)
    #print(edge_index.size())
    #print(edge_attr.size())
           
    x = torch.tensor(df[df.index==i][["Node %d"%(i) for i in range(1,149)]].values,  dtype=torch.float).transpose(0,1)
    x = torch.cat((x, torch.eye(148)), dim = 1)
    #print(x.size())
    data = Data(x=x, y=y, edge_index=edge_index, edge_attr=edge_attr)
    datalist.append(data)
    #break

AD
AD
AD
AD
AD
AD
AD
AD
AD
EMCI
EMCI
EMCI
EMCI
EMCI
CN
CN
CN
CN
EMCI
EMCI
EMCI
CN
CN
CN
CN
CN
CN
CN
AD
AD
AD
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
AD
AD
AD
AD
AD
SMC
SMC
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
AD
AD
AD
CN
CN
CN
CN
CN
CN
CN
CN
CN
AD
AD
LMCI
LMCI
LMCI
LMCI
AD
AD
AD
AD
EMCI
EMCI
CN
CN
CN
LMCI
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
AD
AD
AD
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
CN
CN
CN
CN
CN
CN
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
AD
AD
AD
AD
AD
AD
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
CN
CN
CN
CN
CN
CN
CN
CN
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
EMCI
EMCI
EMCI
EMCI
AD
AD
AD
EMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
EMCI
EMCI
SMC
SMC
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
LMCI
AD
AD
AD
AD
AD
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
AD
AD
AD
LMCI
LMCI
LMCI
LMCI
AD
AD
AD
AD
AD
AD
EMCI
EMCI
EMCI
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
SMC
EMCI
CN
CN
CN
AD
EMCI
CN
CN
CN
CN
CN
EMCI
EMCI
SMC
SMC
SMC
SMC
SMC
SMC
EMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
LMCI
AD
AD
AD
AD
AD
AD
AD
AD
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
LMCI
EMCI
EMCI
EMCI
EMCI
LMCI
LMCI
LMCI
LMCI
SMC
SMC
SMC
SMC
SMC
SMC
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
AD
AD
AD
AD
LMCI
LMCI
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
CN
CN
CN
AD
AD
AD
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
LMCI
LMCI
LMCI
LMCI
CN
CN
CN
CN
AD
AD
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
EMCI
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
EMCI
EMCI
EMCI
EMCI
AD
AD
AD
AD
AD
AD
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN
CN

In [79]:
torch.tensor(edge_table[["src", "trg"]].values)
torch.tensor(df[df.index==i][["Node %d"%(i) for i in range(1,149)]].values)

tensor([[2.3060, 2.3370, 1.9720, 2.6110, 2.2580, 2.5760, 2.5800, 2.2300, 2.7630,
         2.8050, 1.7890, 2.6430, 2.7980, 2.6330, 2.2490, 2.3300, 3.3290, 3.6430,
         2.3350, 1.8910, 2.6510, 1.8240, 2.8110, 2.4500, 2.1070, 2.0860, 1.9190,
         1.8790, 2.3670, 2.2990, 2.4260, 3.3450, 2.2900, 2.6160, 3.0150, 2.2840,
         2.8370, 2.6600, 2.3310, 2.6130, 2.0850, 1.7320, 2.9130, 1.7850, 1.6220,
         2.0700, 2.6230, 2.4450, 2.3610, 2.4540, 1.6740, 1.9320, 1.8900, 1.7520,
         1.7530, 1.6870, 1.7050, 1.8410, 2.0100, 2.1670, 2.0500, 1.8980, 2.0690,
         2.2330, 2.0130, 3.1550, 1.8930, 2.1960, 1.9330, 2.1960, 2.1820, 2.3530,
         2.1730, 2.0010, 2.5210, 1.9080, 2.0060, 2.3470, 2.2650, 2.4190, 2.3500,
         2.3640, 2.8940, 2.9030, 1.9470, 2.4320, 2.5880, 2.4960, 2.3190, 2.4460,
         2.9330, 3.2040, 2.2710, 1.9980, 2.5780, 1.8190, 3.0360, 2.4580, 2.2040,
         2.3290, 1.9530, 1.6860, 2.2580, 2.2320, 2.4180, 2.1000, 2.1330, 2.6370,
         3.0530, 2.0240, 2.7750, 2.7470, 1.6410, 1.8720, 2.0210, 1.6680, 3.1540,
         1.7020, 1.5390, 1.9500, 2.6250, 2.6810, 2.3430, 2.6930, 1.7300, 2.0180,
         1.9270, 1.9770, 1.6210, 1.7840, 1.5210, 1.5950, 2.0960, 2.4130, 2.0200,
         1.5750, 1.8930, 2.1130, 1.8950, 2.5540, 1.6910, 2.1020, 1.8950, 2.4160,
         1.9700, 1.9540, 2.0200, 1.9870]], dtype=torch.float64)

In [80]:
len(datalist)

185

In [81]:
188*0.8

150.4

In [82]:
#dataset = datalist
train_len = int(len(datalist)*0.8)
torch.manual_seed(12345)
#dataset = dataset.shuffle()

#train_dataset = dataset[:train_len]
#test_dataset = dataset[train_len:]

train_dataset, test_dataset = torch.utils.data.random_split(datalist, [train_len, len(datalist) -train_len])

print(f'Number of training graphs: {len(train_dataset)}')
print(f'Number of test graphs: {len(test_dataset)}')

Number of training graphs: 148
Number of test graphs: 37

In [83]:
from torch_geometric.data import DataLoader

train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)

for step, data in enumerate(train_loader):
    print(f'Step {step + 1}:')
    print('=======')
    print(f'Number of graphs in the current batch: {data.num_graphs}')
    print(data)
    print()

Step 1:
=======
Number of graphs in the current batch: 64
Batch(batch=[9472], edge_attr=[72040, 1], edge_index=[2, 72040], x=[9472, 149], y=[64])

Step 2:
=======
Number of graphs in the current batch: 64
Batch(batch=[9472], edge_attr=[72759, 1], edge_index=[2, 72759], x=[9472, 149], y=[64])

Step 3:
=======
Number of graphs in the current batch: 20
Batch(batch=[2960], edge_attr=[22608, 1], edge_index=[2, 22608], x=[2960, 149], y=[20])

In [57]:
from torch.nn import Linear
import torch.nn.functional as F
from torch_geometric.nn import GCNConv
from torch_geometric.nn import global_mean_pool
from torch_geometric.nn import GlobalAttention

#num_node_features =  1
num_node_features =  149
num_classes = 4
#num_classes = 2
class GCN(torch.nn.Module):
    def __init__(self, hidden_channels):
        super(GCN, self).__init__()
        torch.manual_seed(12345)
        self.conv1 = GCNConv(num_node_features, hidden_channels, add_self_loops = False)
        self.conv2 = GCNConv(hidden_channels, hidden_channels, add_self_loops = False)
        self.conv3 = GCNConv(hidden_channels, hidden_channels, add_self_loops = False)
        self.lin = Linear(hidden_channels, num_classes)

    def forward(self, x, edge_index, edge_attr, batch):
        # 1. Obtain node embeddings 
        x = self.conv1(x, edge_index, edge_attr)
        x = x.relu()
        x = self.conv2(x, edge_index, edge_attr)
        x = x.relu()
        x = self.conv3(x, edge_index, edge_attr)

        # 2. Readout layer
        x = global_mean_pool(x, batch)  # [batch_size, hidden_channels]

        # 3. Apply a final classifier
        x = F.dropout(x, p=0.5, training=self.training)
        x = self.lin(x)
        
        return x

model = GCN(hidden_channels=64)
print(model)

GCN(
  (conv1): GCNConv(149, 64)
  (conv2): GCNConv(64, 64)
  (conv3): GCNConv(64, 64)
  (lin): Linear(in_features=64, out_features=4, bias=True)
)

In [84]:
from torch.nn import Linear
import torch.nn.functional as F
from torch_geometric.nn import GCNConv
from torch_geometric.nn import global_mean_pool
from torch_geometric.nn import GlobalAttention

#num_node_features =  1
num_node_features =  149
#num_classes = 4
num_classes = 2
class GCN(torch.nn.Module):
    def __init__(self, hidden_channels):
        super(GCN, self).__init__()
        torch.manual_seed(12345)
        self.conv1 = GCNConv(num_node_features, hidden_channels, add_self_loops = False)
        self.conv2 = GCNConv(hidden_channels, hidden_channels, add_self_loops = False)
        self.conv3 = GCNConv(hidden_channels, hidden_channels, add_self_loops = False)
        self.att = GlobalAttention(Linear(hidden_channels, 1))
        self.lin1 = Linear(hidden_channels, hidden_channels)
        self.lin2 = Linear(hidden_channels, num_classes)

    def forward(self, x, edge_index, edge_attr, batch):
        # 1. Obtain node embeddings 
        x = self.conv1(x, edge_index, edge_attr)
        x = x.relu()
        x = self.conv2(x, edge_index, edge_attr)
        x = x.relu()
        x = self.conv3(x, edge_index, edge_attr)

        # 2. Readout layer
        #x = global_mean_pool(x, batch)  # [batch_size, hidden_channels]
        x = self.att(x, batch)
        x = self.lin1(x)
        x = x.relu()
        
        # 3. Apply a final classifier
        x = F.dropout(x, p=0.5, training=self.training)
        x = self.lin2(x)
        
        return x

model = GCN(hidden_channels=64)
print(model)

GCN(
  (conv1): GCNConv(149, 64)
  (conv2): GCNConv(64, 64)
  (conv3): GCNConv(64, 64)
  (att): GlobalAttention(gate_nn=Linear(in_features=64, out_features=1, bias=True), nn=None)
  (lin1): Linear(in_features=64, out_features=64, bias=True)
  (lin2): Linear(in_features=64, out_features=2, bias=True)
)

In [85]:
#from IPython.display import Javascript
#display(Javascript('''google.colab.output.setIframeHeight(0, true, {maxHeight: 300})'''))

model = GCN(hidden_channels=64)
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
criterion = torch.nn.CrossEntropyLoss()

def train():
    model.train()

    for data in train_loader:  # Iterate in batches over the training dataset.
        #print(data.x, data.edge_index, data.batch)
        out = model(data.x, data.edge_index,data.edge_attr, data.batch)  # Perform a single forward pass.
        loss = criterion(out, data.y)  # Compute the loss.
        loss.backward()  # Derive gradients.
        optimizer.step()  # Update parameters based on gradients.
        optimizer.zero_grad()  # Clear gradients.

def test(loader):
    model.eval()

    correct = 0
    for data in loader:  # Iterate in batches over the training/test dataset.
        out = model(data.x, data.edge_index,data.edge_attr, data.batch)  
        pred = out.argmax(dim=1)  # Use the class with highest probability.
        correct += int((pred == data.y).sum())  # Check against ground-truth labels.
    return correct / len(loader.dataset)  # Derive ratio of correct predictions.


for epoch in range(1, 201):
    train()
    train_acc = test(train_loader)
    test_acc = test(test_loader)
    print(f'Epoch: {epoch:03d}, Train Acc: {train_acc:.4f}, Test Acc: {test_acc:.4f}')

Epoch: 001, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 002, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 003, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 004, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 005, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 006, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 007, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 008, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 009, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 010, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 011, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 012, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 013, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 014, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 015, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 016, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 017, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 018, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 019, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 020, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 021, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 022, Train Acc: 0.5811, Test Acc: 0.6216
Epoch: 023, Train Acc: 0.5878, Test Acc: 0.6486
Epoch: 024, Train Acc: 0.6959, Test Acc: 0.7838
Epoch: 025, Train Acc: 0.5878, Test Acc: 0.6486
Epoch: 026, Train Acc: 0.8446, Test Acc: 0.8108
Epoch: 027, Train Acc: 0.5000, Test Acc: 0.4324
Epoch: 028, Train Acc: 0.6149, Test Acc: 0.7297
Epoch: 029, Train Acc: 0.7365, Test Acc: 0.8108
Epoch: 030, Train Acc: 0.6824, Test Acc: 0.5135
Epoch: 031, Train Acc: 0.7365, Test Acc: 0.8108
Epoch: 032, Train Acc: 0.8243, Test Acc: 0.8919
Epoch: 033, Train Acc: 0.7905, Test Acc: 0.6757
Epoch: 034, Train Acc: 0.6959, Test Acc: 0.5676
Epoch: 035, Train Acc: 0.6014, Test Acc: 0.6757
Epoch: 036, Train Acc: 0.7703, Test Acc: 0.8649
Epoch: 037, Train Acc: 0.6959, Test Acc: 0.5135
Epoch: 038, Train Acc: 0.7365, Test Acc: 0.8378
Epoch: 039, Train Acc: 0.7432, Test Acc: 0.8378
Epoch: 040, Train Acc: 0.7365, Test Acc: 0.5405
Epoch: 041, Train Acc: 0.7500, Test Acc: 0.8378
Epoch: 042, Train Acc: 0.8446, Test Acc: 0.7568
Epoch: 043, Train Acc: 0.8446, Test Acc: 0.7568
Epoch: 044, Train Acc: 0.6824, Test Acc: 0.7568
Epoch: 045, Train Acc: 0.6351, Test Acc: 0.5135
Epoch: 046, Train Acc: 0.7162, Test Acc: 0.8378
Epoch: 047, Train Acc: 0.7162, Test Acc: 0.8108
Epoch: 048, Train Acc: 0.7770, Test Acc: 0.5676
Epoch: 049, Train Acc: 0.8108, Test Acc: 0.7027
Epoch: 050, Train Acc: 0.7432, Test Acc: 0.8378
Epoch: 051, Train Acc: 0.7230, Test Acc: 0.8378
Epoch: 052, Train Acc: 0.8851, Test Acc: 0.8919
Epoch: 053, Train Acc: 0.8919, Test Acc: 0.9189
Epoch: 054, Train Acc: 0.8784, Test Acc: 0.8649
Epoch: 055, Train Acc: 0.8986, Test Acc: 0.8649
Epoch: 056, Train Acc: 0.8986, Test Acc: 0.8649
Epoch: 057, Train Acc: 0.8243, Test Acc: 0.8919
Epoch: 058, Train Acc: 0.8581, Test Acc: 0.8108
Epoch: 059, Train Acc: 0.8986, Test Acc: 0.8919
Epoch: 060, Train Acc: 0.9189, Test Acc: 0.8378
Epoch: 061, Train Acc: 0.8919, Test Acc: 0.8919
Epoch: 062, Train Acc: 0.7905, Test Acc: 0.6486
Epoch: 063, Train Acc: 0.8514, Test Acc: 0.8919
Epoch: 064, Train Acc: 0.9189, Test Acc: 0.9189
Epoch: 065, Train Acc: 0.8378, Test Acc: 0.7568
Epoch: 066, Train Acc: 0.7838, Test Acc: 0.8649
Epoch: 067, Train Acc: 0.7838, Test Acc: 0.5676
Epoch: 068, Train Acc: 0.8514, Test Acc: 0.8919
Epoch: 069, Train Acc: 0.9527, Test Acc: 0.9189
Epoch: 070, Train Acc: 0.8108, Test Acc: 0.5946
Epoch: 071, Train Acc: 0.7297, Test Acc: 0.8378
Epoch: 072, Train Acc: 0.9527, Test Acc: 0.9189
Epoch: 073, Train Acc: 0.8919, Test Acc: 0.8649
Epoch: 074, Train Acc: 0.9189, Test Acc: 0.9189
Epoch: 075, Train Acc: 0.8851, Test Acc: 0.8378
Epoch: 076, Train Acc: 0.8514, Test Acc: 0.8919
Epoch: 077, Train Acc: 0.9257, Test Acc: 0.8919
Epoch: 078, Train Acc: 0.9595, Test Acc: 0.9189
Epoch: 079, Train Acc: 0.8514, Test Acc: 0.8919
Epoch: 080, Train Acc: 0.9527, Test Acc: 0.8919
Epoch: 081, Train Acc: 0.9595, Test Acc: 0.9189
Epoch: 082, Train Acc: 0.9595, Test Acc: 0.9189
Epoch: 083, Train Acc: 0.9054, Test Acc: 0.8108
Epoch: 084, Train Acc: 0.8581, Test Acc: 0.8919
Epoch: 085, Train Acc: 0.9527, Test Acc: 0.8649
Epoch: 086, Train Acc: 0.9122, Test Acc: 0.9189
Epoch: 087, Train Acc: 0.8446, Test Acc: 0.7297
Epoch: 088, Train Acc: 0.9189, Test Acc: 0.9189
Epoch: 089, Train Acc: 0.9324, Test Acc: 0.9189
Epoch: 090, Train Acc: 0.9189, Test Acc: 0.7838
Epoch: 091, Train Acc: 0.9122, Test Acc: 0.8919
Epoch: 092, Train Acc: 0.9865, Test Acc: 0.9189
Epoch: 093, Train Acc: 0.9730, Test Acc: 0.8919
Epoch: 094, Train Acc: 0.9527, Test Acc: 0.9189
Epoch: 095, Train Acc: 0.9122, Test Acc: 0.7838
Epoch: 096, Train Acc: 0.9324, Test Acc: 0.9189
Epoch: 097, Train Acc: 0.9189, Test Acc: 0.8108
Epoch: 098, Train Acc: 0.9189, Test Acc: 0.9189
Epoch: 099, Train Acc: 0.9459, Test Acc: 0.8919
Epoch: 100, Train Acc: 0.9595, Test Acc: 0.9189
Epoch: 101, Train Acc: 0.9730, Test Acc: 0.9189
Epoch: 102, Train Acc: 0.9595, Test Acc: 0.9189
Epoch: 103, Train Acc: 0.9730, Test Acc: 0.9189
Epoch: 104, Train Acc: 0.9730, Test Acc: 0.9189
Epoch: 105, Train Acc: 0.9662, Test Acc: 0.8919
Epoch: 106, Train Acc: 0.9459, Test Acc: 0.9189
Epoch: 107, Train Acc: 0.9054, Test Acc: 0.7297
Epoch: 108, Train Acc: 0.9932, Test Acc: 0.9189
Epoch: 109, Train Acc: 0.8108, Test Acc: 0.8649
Epoch: 110, Train Acc: 0.6081, Test Acc: 0.4595
Epoch: 111, Train Acc: 0.6622, Test Acc: 0.7297
Epoch: 112, Train Acc: 0.6959, Test Acc: 0.5405
Epoch: 113, Train Acc: 0.9392, Test Acc: 0.9189
Epoch: 114, Train Acc: 0.7162, Test Acc: 0.7297
Epoch: 115, Train Acc: 0.8784, Test Acc: 0.9189
Epoch: 116, Train Acc: 0.9324, Test Acc: 0.8378
Epoch: 117, Train Acc: 0.9865, Test Acc: 0.8919
Epoch: 118, Train Acc: 0.9459, Test Acc: 0.9189
Epoch: 119, Train Acc: 0.9797, Test Acc: 0.9189
Epoch: 120, Train Acc: 0.9932, Test Acc: 0.9459
Epoch: 121, Train Acc: 0.9527, Test Acc: 0.9189
Epoch: 122, Train Acc: 0.9122, Test Acc: 0.8378
Epoch: 123, Train Acc: 0.9392, Test Acc: 0.9189
Epoch: 124, Train Acc: 0.9730, Test Acc: 0.8919
Epoch: 125, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 126, Train Acc: 0.9797, Test Acc: 0.9189
Epoch: 127, Train Acc: 0.9595, Test Acc: 0.8378
Epoch: 128, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 129, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 130, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 131, Train Acc: 0.9865, Test Acc: 0.9189
Epoch: 132, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 133, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 134, Train Acc: 0.9932, Test Acc: 0.9189
Epoch: 135, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 136, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 137, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 138, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 139, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 140, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 141, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 142, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 143, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 144, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 145, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 146, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 147, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 148, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 149, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 150, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 151, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 152, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 153, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 154, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 155, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 156, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 157, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 158, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 159, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 160, Train Acc: 1.0000, Test Acc: 0.8919
Epoch: 161, Train Acc: 1.0000, Test Acc: 0.9189
Epoch: 162, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 163, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 164, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 165, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 166, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 167, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 168, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 169, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 170, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 171, Train Acc: 1.0000, Test Acc: 0.9459

Epoch: 172, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 173, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 174, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 175, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 176, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 177, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 178, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 179, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 180, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 181, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 182, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 183, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 184, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 185, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 186, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 187, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 188, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 189, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 190, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 191, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 192, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 193, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 194, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 195, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 196, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 197, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 198, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 199, Train Acc: 1.0000, Test Acc: 0.9459
Epoch: 200, Train Acc: 1.0000, Test Acc: 0.9459